.motionlogo{
    position:absolute;
    top:2vw;
    left: 2.5vw;
}
.motionlogo img{
    width:5vw;
    max-width: 56px;
    height: auto;
}

@media (max-width: 768px) {
  .motionlogo {
    top: 1rem;
    left: 1rem;
  }
  .motionlogo img {
    width: 40px;
  }
}