.table-scroll-container {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none; 
  position: relative;
}


.table-scroll-container::-webkit-scrollbar {
  display: none;
}

.table-container {
  border-collapse: collapse;
  height: var(--height--table);
  table-layout: fixed; 

}

.table-container thead {
  background-color: var(--red-2);
  color: var(--background-color);
  border-collapse: separate;
  border-spacing: 16px;
}

.table-container th {
  border-right: 15px solid var(--background-color);
  height: var(--height--table-th);
  font-size: var(--font-size-table-th)
}

.th-marca{
  width: var(--width-marca)
}

.th-sucursal{
  width: var(--width-marca)
}
.th-aspirante{
 width: var(--width-aspirante)
}

.table-container th:last-child {
  border-right: none;
}

.table-container td {
  border-bottom: 1px solid var(--red-2);
    font-size: var(--font-size-table);
} 

.table-container tbody {
  color: var(--grey-1);
  font-family: var(--font-family);
}
