.crudPage-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 4rem;
    position: absolute;
    flex-wrap: wrap;
    top:1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}
.crudPage-logo{
    position: absolute;
    bottom: 1rem;
}
.crudPage{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
  overflow-x: hidden;
}
@media (max-width: 1024px) {
  .crudPage-container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}