.monitoring-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0;
}

.Bienvenido{
    position: relative;
    font-size: clamp(40px, 10vw, 120px);
    font-weight:900;
    color: var(--blue-1);
    text-align: center;
    margin:0;
    padding: 0;
    z-index: 0;
}

.Monitorig{
    position: relative;
    text-shadow:  
    -2px -2px 0 white,
    2px -2px 0 white,
    -2px  2px 0 white,
    2px  2px 0 white;
    font-size: clamp(30px, 6vw, 80px);
    font-weight: 800;
    color: var(--blue-1);
    z-index: 2;
    margin:0;
    padding: 0;
}

.monitoring-telefono{
    display:flex;
    justify-content: center;
    width: 500px;
    height: auto;
    margin: 0;;
    z-index: 1;
    position: absolute;
}

.monitoring-telefono img{
    width: clamp(200px, 60vw, 600px);
    height: auto;
    position: relative;
}


@media (max-width: 768px) {
    .monitoring-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

  .Bienvenido {
    font-size: 68px;
    text-align: center;
  }

  .Monitorig {
    font-size: 36px;
    text-align: center;

  }

  .monitoring-telefono {
    width: 90%;
  }
  .monitoring-telefono img{
    width: clamp(200px, 70vw, 500px);    
    height: auto;
  }
}