:root {
  --blue-1: #00249c;
  --blue-2: #40cee4;
  --grey-1: #c5c5c5;
  --red-1: #c6007e;
  --red-2: #e280be;

  --font-family: "Montserrat", sans-serif;
  --background-color: #f9f9f9;
  --text-color: #222;

  --font-size-form: 20px;

  --height--table-th: 35px;
  --font-size-table-th: 20px;

  --height--table: 2.1rem;
  --font-size-table: 18px;

  --width-marca: 150px;
  --width-aspirante: 250px;
}

body,
html {
  font-family: "Montserrat", "Segoe UI", "Roboto", "Arial", sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
