:root {
  --blue-1: #00249C;
  --blue-2: #40CEE4;
  --grey-1: #C5C5C5;
  --red-1: #C6007E;
  --red-2: #E280BE;

  --font-family: 'Montserrat', sans-serif;
  --background-color: #f9f9f9;; 
  /* #f9f9f9; */
  --text-color: #222;
}


body, html {
  font-family: 'Montserrat', 'Segoe UI', 'Roboto', 'Arial', sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
